.shadows-into-light-regular {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
}

.portfolio-title {
    color: #D0F0C0;
    font-size: 4em;
    margin: 20px;
}

.images {
    height: 300px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: top left;
}

/* 
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 300 to 700 
*/

.quicksand-font {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}