.link {
  color: #319D39;
}

.link:hover {
  color: #d0f0c0;
}

.one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 300px;
}

.resume-title {
  color: #d0f0c0;
  /* font-style: italic;
  font-weight: bold; */
  font-size: 4em;
  margin: 20px;
}

.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

.rock-3d-regular {
  font-family: "Rock 3D", system-ui;
  font-weight: 400;
  font-style: normal;
}

.quicksand-font {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

.card {
  margin: 25px;
}


@media (max-width: 800px) {
  /* For screens wider than 425px */
  .one {
    flex-direction: column;
    height: fit-content;
  }
  .card {
    margin: 0 25px 0 25px;
  }
  .resume-title {
    font-size: 3em;
  }
}

@media (max-width: 600px) {
  /* For screens 425px and below */
  .one {
    flex-direction: column;
  }
  .resume-title {
    font-size: 2em;
  }
}