/* Footer.css */
.footer {
  /* position: absolute; */
  left: 0; right: 0; bottom: 0;
  width: 100%;
  padding-bottom: 32px;
}

.icon-link {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
.icon-link:hover {
    transform: translateY(-15px); /* Move up by 10 pixels on hover */
    box-shadow: 7px 10px 8px rgba(0, 0, 0, 0.7); /* Add a subtle box shadow on hover */
  }
