.header {
    width: 100%;
    background-size: cover;
    overflow: hidden;
    background-image: url("../assets/the-mess.jpeg");
    background-repeat: no-repeat;
    position: relative;
    background-position: center 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.text {
    color: white;
    background-color: rgba(51, 51, 51, 0.755);
    margin-left: 50px;
    padding-left: 50px;
    margin-right: 50px;
    padding-right: 50px;
    border-radius: 25px;
    font-style: italic;
    font-weight: bold;
    font-family: chalkduster, fantasy;
    font-size: 72px;

}

@media (max-width: 425px) {
    /* For screens 425px and below */
    .header {
      height: 100px;
    }
  }
  
@media (min-width: 426px) {
    /* For screens wider than 425px */
    .header {
      height: 250px;
    }
  }