#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.read-the-docs {
  color: #888;
}

.drawer {
  background-image: url("src/assets/the-mess.jpeg") !important;
  background-size: cover !important;
  background-position: 15% center !important;
  background-color: green;
}

.drawer-text {
  color: white;
  background-color: rgba(51, 51, 51, 0.755);
  font-style: italic;
  font-weight: bold;
  font-family: chalkduster, fantasy;
  font-size: 72px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
}